/* 公共变量 */

$light-blue:#CBE5FB;
$blue:#3fbbf5;
$green:#1fc759;
$green-active:#00bb36;
$line-color:#E6E8EB;
$font-color:#585858;
$bug-color:#FF4351;
$warning:$bug-color;
$warning-active:#f13d30;
$orange:#FFC107;
$border-color:#E6E8EB;
$light:#FFF;
$width:1000px;
$line-height:40px;

%green-button {
    text-align: center;
    color: #FFF;
    background: #afe24d;
    transition: all .3s ease-in;
    &:hover {
        background: #b5e45a;
        transition: all .3s ease-in;
    }
    &:active {
        background: #a1d243;
        transition: all .3s ease-in;
    }
}
%red-button {
    text-align: center;
    color: #FFF;
    background: #ff5c69;
    transition: all .3s ease-in;
    &:hover {
        background: #ff1f30;
        transition: all .3s ease-in;
    }
    &:active {
        background: #f64c59;
        transition: all .3s ease-in;
    }
}

%text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
